PORT=3001
NODE_ENV=development
DATABASE_URL="postgresql://edu_herbal_postgres_user:1ixtAqbitCRfnq8B2SazRBzTnKwatH55@dpg-da9gi3tg1s2s73ac22g0-a.oregon-postgres.render.com/edu_herbal_postgres?sslmode=require"
JWT_SECRET="db7cffeb14f024efbaeee87ee2dc57aea5421f94f94e80131c1f2797db138580842a52e8e5c77196840fc240915fa71b6fecf87f8662e93175a47935f2e9df5d"
JWT_EXPIRES_IN="7d"
CORS_ORIGIN="*"
FRONTEND_URL="http://localhost:5173"
